services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio-barlic
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=file:/app/prisma/dev.db